body, html {
    margin: 0;
    font-family: "Lato";
    background-color: #1a1a1a;
    color:#c8c8c8;
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.content{
    padding:5%;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:  space-between;
    align-items: center;
}
h4{
    text-align: center;
}
form{
    display: flex;
    /* flex-direction: column; */
    justify-content:  center;
    height: 10rem;
    align-items: center;
}
form input[type="text"]{
    width: 25%;
    padding: 2%;
    font-family: Lato;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    border:1px solid #1a1a1a ;
    background-color:#c8c8c8;
    transition:0.3s all ease;
    transform: scaleX(0.9);
    transform-origin: center left;
    text-align: center;
}
input[type="text"]:focus{
    transform: scaleX(1);
    outline:none;
    background-color: #fff;
}
form input[type="submit"]{
    width:10%;
    padding:0.8%;
    border:1px solid black;
    text-align: center;
    font-family: Lato;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 25px;
    opacity: 0.75;
    transition:0.3s all ease;
    cursor: pointer;
    color:#1a1a1a;
    margin-left: 4%;
}
form input[type="submit"]:hover{
    border:1px solid #c8c8c8;
    background-color: #1a1a1a;
    color:#c8c8c8;
    opacity: 1;
}
.form {
    margin-top: 5%;
}
.title{
    font-size: 4rem;
    text-align: center;
    margin-left:4%;
}
.message{
    font-weight: 300;
    font-size: 2rem;
    margin-left:4%;
}
a , a:visited{
    text-decoration: none;
    color:#c8c8c8;
    line-height:25px;
    opacity: 0.75;
    transition:0.3 all ease;
}
a:hover{
    opacity:1;
}
table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 20%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}
.text-input{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.text-input input{
    width: 75%;
    flex-basis: 80%;
}
label{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}