{%extends 'base.html'%}

{% block head %}

{% endblock %}


{% block body %}
<div class="content">
    <h1 class="title"> Update Manager </h1>


    <div class="form">
    <form action="/update/{{task.id}}" method="POST">
        <div class="text-input">
            <label for="content">Update Value:</label>
            <input type="text" name="content" id="content" value="{{task.content}}">
        </div>
        <input type="submit" value="Update Task">
    </form>
</div>
</div>
{% endblock %}